#!/bin/bash
GIT_PATH=$1
LOG_DIR=$2
CLEANUP_LOG=$LOG_DIR/cleanup.log
ERROR_LOG=$LOG_DIR/error.log

log () {
  echo "$1" | tee -a "$2"
}

log "########### cleanup start $(date) $GIT_PATH ###########" "$CLEANUP_LOG"

cd ${GIT_PATH}
git remote prune origin && git repack && git prune-packed && git reflog expire --expire=1.month.ago && git gc --aggressive 2>> "$ERROR_LOG" | tee -a ${CLEANUP_LOG}

log "########### cleanup end $(date) $GIT_PATH ###########" "$CLEANUP_LOG"
