#!/bin/bash
GIT_PATH=$1
LOG_DIR=$2
UPDATE_LOG=$LOG_DIR/update.log
GIT_LOG=$LOG_DIR/git.log
COMPOSER_LOG=$LOG_DIR/composer.log
MAINT_LOG=$LOG_DIR/maintenance.log
ERROR_LOG=$LOG_DIR/error.log

log () {
  echo "$1" | tee -a "$2"
}

log_all () {
  echo "$1" | tee -a  "${UPDATE_LOG}" "${GIT_LOG}" "${COMPOSER_LOG}" "${MAINT_LOG}" "${ERROR_LOG}"
}

# start
log_all "########### $(date) ###########"

log "## updating ${GIT_PATH}" "${UPDATE_LOG} ${GIT_LOG}"
cd ${GIT_PATH}
git pull origin master 2>> "$ERROR_LOG" | tee -a ${GIT_LOG}
git submodule update 2>> "$ERROR_LOG" | tee -a ${GIT_LOG}
git remote prune origin && git repack && git prune-packed && git reflog expire --expire=1.month.ago && git gc --aggressive

# done
log_all "########### $(date) ###########"
